{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="DCXa Coin">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords"
        content="cryptocurrency, dashboard, admin, crypto, ico, bootstrap admin template, admin template, bootstrap dashboard template, crypto dashboard, cryptocurrency dashboard, ico dashboard, crypto admin, dashboard cryptocurrency, cryptocurrency trading dashboard, crypto dashboard template " />

    <!-- Title -->
    <title>DCXa Coin - Recover Password </title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/x-icon" />
    <link href="{% static 'assets/css/icons.html" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/typicons.font/typicons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/feather/feather.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-dark.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/skin-modes.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'assets/switcher/css/switcher.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/switcher/demo.css' %}">
    <link href="/assets/css/alertify.core.css' %}" rel="stylesheet" />

    <style>
        body {
            background-color: #ffffff !important;
        }
    </style>
</head>
<body class="main-body">
    <form name="form2" method="post" action="/accounts/password/change/" id="form2">
        <div>
            <!-- <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
                value="/wEPDwUKLTg1MDk1Mzk3Ng8WAh4TVmFsaWRhdGVSZXF1ZXN0TW9kZQIBZGQH7AiOlX7lypwZn6uzWQ+zKNQM2Cw/tHTpF+93rPVcbQ==" />-->
        </div> 

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['form2'];
            if (!theForm) {
                theForm = document.form2;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
//]]>
        </script>


        <script
            src="/WebResource.axd?d=f3B_zO2ET5BZu0NWd-VGKvhWRqxL8B-DDJwXVcSXVSoS_YMZb3ONJzLPMKGnxRcKjl8q1bAiXAAkSYfq1vMS_GnG-3PXDDo0Mzdbjb3OlSQ1&amp;t=637454068754849868"
            type="text/javascript"></script>


        <script
            src="/ScriptResource.axd?d=zmiABBZHH6k-tBVvpkr0cIPuCp0gBJ7szRGvz7aYb2NipCiln2D5ZnlWKMknCn7_ebl3hUdDqPjbumT_A3PmLapdJtWF-qucPKpU3paRbgnYcVPi05UV8V3Vd6NCZu9gYWrMVy93A5MtRHI2sbgruouj6SwuER1OyX0T3zubex9H7KJUiMn4OaKo3F9ENyM80&amp;t=363be08"
            type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            if (typeof (Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
        </script>

        <script
            src="/ScriptResource.axd?d=IQfcZPVQ7g_cFzXNdQETqBRWOM0zcL7RfV-2vfJFJUsaX7cqLTc1GU0L2sxZiq3jAWDuvROq0Ulxwz7kYyzrBLqw5ROPpN1sESRNyXzF89nQXt74R0rsd9K3aF5A4I522NLtro3IFWg844vzAHFN6s59Pgy3jnm5M4rBhHhoyVrrffpSuD-XaGhVulgJVfMU0&amp;t=363be08"
            type="text/javascript"></script>
        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C633E78B" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
                value="/wEdAATyA6EWiXfzi0Phsu+/LqyjVWVDjTdMD+ERy6J3UXoCeOVn77N6Tn5lTuJyegPPBoGIwhlU/ZGwuxYOC1rKs5m6Mz/oPQ4kJuBwt6e/jojZ9T94qfXJ//PtYb27TDSyE8Q=" />
        </div>
        <!-- Loader -->
        <div id="global-loader" class="light-loader">
            <img src="{% static 'assets/img/loaders/loader.svg' %}" class="loader-img" alt="Loader">
        </div>
        <!-- /Loader -->
        <!-- main-signin-wrapper -->
        <div class="my-auto page page-h">
            <div class="main-signin-wrapper d-flex wd-100p">
                <div class="main-card-signin d-md-flex wd-100p">
                    <div
                        class="wd-md-50p login d-none d-md-flex page-signin-style p-5 text-white align-items-center justify-content-center">
                        <div class="my-auto authentication-pages d-flex justify-content-center align-items-center">
                            <div style="max-width: 380px;">
                                <img src="{% static 'assets/img/brand/logo-white.png' %}" class=" m-0 mb-4" alt="logo">
                                <h5 class="mb-4">Invest Money Right Way with Token</h5>
                                <p class="mb-5">
                                    Create a great strategy to get more profit by investing in DCXa tokens.
                                    Additionally, there are some crypto experts you can use to get some opinions that
                                    may be beneficial before expanding your crypto investment.
                                </p>
                                <a href="https://dcxa.io/blog" target="_blank" class="btn btn-outline-warning">Learn
                                    More</a>
                                <img src="{% static 'assets/img/three-coins.png' %}" class="mt-4">
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //<![CDATA[
                        Sys.WebForms.PageRequestManager._initialize('ScriptManager1', 'form2', ['tUpdatePanel1', ''], [], [], 90, '');
//]]>
                    </script>


                    <div class="p-5 wd-md-50p d-flex align-items-center justify-content-center">
                        <div id="UpdatePanel1" style="width: 100%; max-width: 300px;">

                            <div id="ctl01" style="display:none;">

                                <div class="global-loader light-loader">
                                    <img src="{% static 'assets/img/loaders/loader.svg' %}" class="loader-img" alt="Loader">
                                </div>

                            </div>
                            <div id="divotp" class="main-signin-header">
                                <h2 style="color: #eea315 !important;">Welcome Back!</h2>
                                <h4>Reset Your Dcxa Password</h4>
                                <div class="form-group">
                                    <label>Enter Old Password</label>
                                    <div class="divMember">
                                        <input name="oldpassword type="password" class="form-control"
                                            required=""  autocomplete="off"
                                            Value="" />
                                    </div>
                                    <label>New Password</label>
                                    <div class="divMember">
                                        <input name="password1" type="password" class="form-control"
                                            required="" autocomplete="off"
                                            Value="" />
                                    </div>
                                    
                                    <label>Confirm Password</label>
                                    <div class="divMember">
                                        <input name="password2" type="password" class="form-control"
                                            required=""  autocomplete="off"
                                            Value="" />
                                    </div>
                                    <input type="hidden" name="hdnid" id="hdnid" />
                                    <!-- <input class="form-control" id="Memberid" name="Memberid" placeholder="Enter your Username" type="text" value="100001"> -->
                                </div>


                                <input type="submit" name="btnotp" value="Reset Password" id="btnotp"
                                    class="btn btn-theme btn-block" />
                                <div class="main-signin-footer mt-3 mg-t-5;text-align: center !important;">

                                    <p
                                        style="font-size: 0.8rem !important; font-family: Serif,Old Style serif; text-align: center !important;">
                                        Don't have an DCXa Card? <a href="UserPages/UserRegOpen.aspx"
                                            style="color: #252f40 !important;">Apply for DCXa card</a></p>
                                    <p style="text-align: center !important;"><a href="Userlogin.aspx"
                                            style="color: #212231;">Login with OTP</a></p>

                                </div>
                            </div>





                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/plugins/ionicons/ionicons.js' %}"></script>
        <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'assets/js/eva-icons.min.js' %}"></script>
        <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>
        <script src="{% static 'assets/plugins/rating/jquery.barrating.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/switcher/js/switcher.js' %}"></script>
        <script src="assets/js/alertify.min.js' %}"></script>
        <script type="text/javascript">
            function DisableBackButton() {
                window.history.forward()
            }
            DisableBackButton();
            window.onload = DisableBackButton;
            window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
            window.onunload = function () { void (0) }
        </script>



    </form>

</body>

</html>