{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">

                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">


                    <div class="row" style="margin-top: 100px; ">
                        <div class="col-sm-6 col-lg-6 col-xl-4">
                            <div class="card pricing-card">
                                <div class="card-body text-center">
                                    <div class="card-category">Cash</div>
                                    <div class="display-5 my-4">No Limit</div>
                                    <ul class="list-unstyled leading-loose">
                                        <li><i class="fe fe-check text-success mr-2"></i>Instant Approval</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>Easy Transactions</li>
                                    </ul>
                                    <div class="text-center mt-6">
                                        <a href="UserCashRequest.aspx" class="btn btn-primary btn-block">Buy Wallet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-end -->
                        <div class="col-sm-6 col-lg-6 col-xl-4">
                            <div class="card pricing-card">
                                <div class="card-body text-center">
                                    <div class="card-category">UPI Payment</div>
                                    <div class="display-5 my-4">No Limit</div>
                                    <ul class="list-unstyled leading-loose">
                                        <li><i class="fe fe-check text-success mr-2"></i>Auto Approval</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>Easy Transactions</li>
                                    </ul>
                                    <div class="text-center mt-6">
                                        <a href="#" class="btn btn-warning btn-block"
                                            onclick="alertify.alert('Under maintenance! We will be back shortly.')">Buy
                                            Wallet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-end -->
                        <div class="col-sm-6 col-lg-6 col-xl-4">
                            <div class="card pricing-card ">
                                <div class="card-status bg-success"></div>
                                <div class="card-body text-center">
                                    <div class="card-category">Crypto Payment</div>
                                    <div class="display-5 my-4">No Limit</div>
                                    <ul class="list-unstyled leading-loose">
                                        <li><i class="fe fe-check text-success mr-2"></i>Auto Approval</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                        <li><i class="fe fe-check text-success mr-2"></i>100+ Coin Accepted</li>
                                    </ul>
                                    <div class="text-center mt-6">
                                        <a href="RechargeBWallet.aspx" class="btn btn-success btn-block">Buy Wallet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-end -->
                        <!-- col-end -->
                    </div>


                </div>
            </div>
        </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>