{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">

<div id="ctl00_ContentPlaceHolder1_divCounterMain" class="col-lg-12 col-md-12 mt-4">
    <div class="card countdown-clock" style="background: black;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-lg-1 slamsd"></div>
                <div class="myprogress col-lg-2 col-sm-6 col-6 ml-auto mr-auto py-3">
                    <div class="circle" id="circle-a">
                        <div class="box">
                            <div class="chart" data-percent="36.5" data-scale-color="#ffb400">36.5%</div>
                            <h4>Progress</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 py-3">
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-days ci-value" id="clock_days">00</div>
                        </div>
                        <h4>Days</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 py-3">
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-hours ci-value" id="clock_hours">15</div>
                        </div>
                        <h4>Hours</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 py-3">
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-minutes ci-value" id="clock_minutes">55</div>
                        </div>
                        <h4>Minutes</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 py-3">
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-seconds ci-value" id="clock_seconds">12</div>
                        </div>
                        <h4>Seconds</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
	


            <div id="divAddData" class="col-lg-12 col-md-12" style="padding-top: 20px;">
                <div class="card">
                    <div class="card-body">
                        <div class="main-content-label mg-b-5">
                            Payment Details
                        </div>
                        <p class="mg-b-20">It is very easy to customize and it uses in your website applications.</p>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-6 mx-auto d-block">
                                <div class="card card-body pd-10 pd-md-20 border shadow-none">
                                    <h5 class="card-title mg-b-20">Your Payment Details</h5>
                                    <div class="form-group">
                                        <div class="row row-sm">
                                            <div class="col-sm-12">
                                                <div class="row row-sm">
                                                    <div class="col-sm-6">
                                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">Wallet Balance</label>
                                                        <input name="ctl00$ContentPlaceHolder1$txtwamount" type="text" value="0" id="ctl00_ContentPlaceHolder1_txtwamount" disabled="disabled" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">Investment Date</label>
                                                        <input name="ctl00$ContentPlaceHolder1$TxtDate" type="text" value="14/12/2021" id="ctl00_ContentPlaceHolder1_TxtDate" disabled="disabled" class="form-control" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <div class="row row-sm">
                                            <div class="col-sm-12">
                                                <div class="row row-sm">
                                                    <div class="col-sm-6">
                                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">Investment ID</label>
                                                        <input name="ctl00$ContentPlaceHolder1$TxtId" type="text" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentPlaceHolder1$TxtId\&#39;,\&#39;\&#39;)&#39;, 0)" onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="ctl00_ContentPlaceHolder1_TxtId" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                                        <input name="ctl00$ContentPlaceHolder1$txtname" type="text" id="ctl00_ContentPlaceHolder1_txtname" disabled="disabled" class="form-control" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="row row-sm">
                                            <div class="col-sm-9">
                                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Staking Package *</label>
                                                <div class="row row-sm">
                                                    <div class="col-sm-7">
                                                        <select name="ctl00$ContentPlaceHolder1$ddlpacknew" id="ctl00_ContentPlaceHolder1_ddlpacknew" class="form-control select2-no-search">
		<option value="0"> Choose one 
                                                            </option>
		<option value="2">
																		1 Year Staking  
                                                            </option>
		<option value="3">
																		2 Year Staking 
                                                            </option>
		<option value="4">
																		4 Year Staking 
                                                            </option>

	</select>
                                                    </div>
                                                    <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                                        <select name="ctl00$ContentPlaceHolder1$ddlwallet" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentPlaceHolder1$ddlwallet\&#39;,\&#39;\&#39;)&#39;, 0)" id="ctl00_ContentPlaceHolder1_ddlwallet" class="form-control select2-no-search">
		<option selected="selected" value="0"> Choose Wallet 
                                                            </option>
		<option value="E">
																		Staking Wallet 
                                                            </option>
		<option value="A">
																		Activation Wallet
                                                            </option>

	</select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mg-t-20 mg-sm-t-0">
                                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Amount *</label>
                                                <input name="ctl00$ContentPlaceHolder1$ddlproduct" type="text" value="0" id="ctl00_ContentPlaceHolder1_ddlproduct" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnsave1" value="Complete Payment" id="ctl00_ContentPlaceHolder1_btnsave1" type="submit" class="btn btn-main-primary btn-block" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        
</div>
    
</div>
</div>
{% include 'includes/dashboard_footer.html' %}
</div>
{% include 'includes/dashboard_js.html' %}
</body>