{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">

                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">



                    <div class="col-lg-12 col-md-12" style="padding-top: 20px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="main-content-label mg-b-5">
                                    Buy Real Estate From Wallet
                                </div>
                                <p class="mg-b-20">It is very easy to customize and it uses in your website
                                    applications.</p>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-6 mx-auto d-block">
                                        <div class="card card-body pd-10 pd-md-20 border shadow-none">
                                            <h5 class="card-title mg-b-20">Your Request Details</h5>
                                            <div class="form-group">
                                                <div class="row row-sm">
                                                    <div class="col-sm-12">
                                                        <div class="row row-sm">
                                                            <div class="col-sm-6">
                                                                <label
                                                                    class="main-content-label tx-11 tx-medium tx-gray-600">Request
                                                                    ID</label>
                                                                <input name="ctl00$ContentPlaceHolder1$TxtId"
                                                                    type="text" value="DCXa-232173"
                                                                    id="ctl00_ContentPlaceHolder1_TxtId"
                                                                    disabled="disabled" class="form-control" />
                                                            </div>
                                                            <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                                                                <label
                                                                    class="main-content-label tx-11 tx-medium tx-gray-600">Request
                                                                    Date</label>
                                                                <input name="ctl00$ContentPlaceHolder1$TxtDate"
                                                                    type="text" value="15/12/2021"
                                                                    id="ctl00_ContentPlaceHolder1_TxtDate"
                                                                    disabled="disabled" class="form-control" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="row row-sm">
                                                    <div class="col-sm-9">
                                                        <label
                                                            class="main-content-label tx-11 tx-medium tx-gray-600">Select
                                                            Wallet</label>
                                                        <div class="row row-sm">
                                                            <div class="col-sm-7">
                                                                <select name="ctl00$ContentPlaceHolder1$ddlpacknew"
                                                                    onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentPlaceHolder1$ddlpacknew\&#39;,\&#39;\&#39;)&#39;, 0)"
                                                                    id="ctl00_ContentPlaceHolder1_ddlpacknew"
                                                                    class="form-control select2-no-search">
                                                                    <option selected="selected" value="0"> Choose Wallet
                                                                    </option>
                                                                    <option value="M">
                                                                        Withdraw Wallet
                                                                    </option>
                                                                    <option value="W">
                                                                        Working Wallet
                                                                    </option>

                                                                </select>
                                                            </div>
                                                            <div class="col-sm-5 mg-t-10 mg-sm-t-0">

                                                                <input name="ctl00$ContentPlaceHolder1$txtbalance"
                                                                    type="text"
                                                                    id="ctl00_ContentPlaceHolder1_txtbalance"
                                                                    disabled="disabled" class="form-control"
                                                                    placeholder="Balance" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 mg-t-20 mg-sm-t-0">
                                                        <label
                                                            class="main-content-label tx-11 tx-medium tx-gray-600">Amount($)</label>
                                                        <input name="ctl00$ContentPlaceHolder1$ddlproduct" type="text"
                                                            value="0" id="ctl00_ContentPlaceHolder1_ddlproduct"
                                                            class="form-control" />
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Buy
                                                    Remark</label>
                                                <div class="pos-relative">
                                                    <textarea name="ctl00$ContentPlaceHolder1$txtremark" rows="2"
                                                        cols="20" id="ctl00_ContentPlaceHolder1_txtremark"
                                                        class="form-control pd-r-80" required=""
                                                        placeholder="Buy Remark" style="height:80px;">
</textarea>

                                                    <div class="d-flex pos-absolute t-5 r-10">
                                                        <img alt="" class="wd-30 mg-r-5" src="assets/img/visa.png' %}">
                                                        <img alt="" class="wd-30" src="assets/img/mastercard.png' %}">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" name="ctl00$ContentPlaceHolder1$btnsave1"
                                                value="Send Request" id="ctl00_ContentPlaceHolder1_btnsave1"
                                                type="submit" class="btn btn-main-primary btn-block" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row row-sm">
                                    <div class="col-xl-12">
                                        <div class="card mg-b-20">
                                            <div class="card-header pb-0">
                                                <div class="d-flex justify-content-between">
                                                    <h2 class="card-title mg-b-0">Previous Real Estate Requests</h2>
                                                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">

                                                    <span id="ctl00_ContentPlaceHolder1_lblresult">No Data
                                                        Found....</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>