{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">
                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">

                    <div id="ctl00_ContentPlaceHolder1_ctl01" style="display:none;">

                        <div class="global-loader light-loader">
                            <img src="{% static 'assets/img/loaders/loader.svg' %}" class="loader-img" alt="Loader">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-10 col-lg-5 col-xl-5 mx-auto d-block">
                                            <div class="card card-body pd-10 pd-md-20 border shadow-none">
                                                <h5 class="card-title mg-b-20">Change Password</h5>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <form name="form2" method="post" action="{% url 'account_reset_password' %}" class="password-reset" id="form2">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                            <label
                                                                class="main-content-label tx-11 tx-medium tx-gray-600">Old
                                                                Password *</label>
                                                            <input name="oldpassword"
                                                                type="password" id="txtOldPass" class="form-control"
                                                                required="" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label
                                                                class="main-content-label tx-11 tx-medium tx-gray-600">New
                                                                Password *</label>
                                                            <input name="password1"
                                                                type="password" id="txtPWD" class="form-control"
                                                                required="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label
                                                                class="main-content-label tx-11 tx-medium tx-gray-600">Confirm
                                                                New Password *</label>
                                                            <input name="password2"
                                                                type="password" id="txtCPWD" class="form-control"
                                                                required="" />
                                                        </div>
                                                    </div>
                                                </div>




                                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnsubmit"
                                                    value="Update" onclick="return FunValidate();"
                                                    id="ctl00_ContentPlaceHolder1_btnsubmit"
                                                    class="btn btn-main-primary btn-block" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>