{% load static %}
{% include 'includes/head_css_js.html' %}
<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">
            <div class="breadcrumb-header justify-content-between">
                <div class="left-content">
                    <h3 class="content-title mb-2">Welcome Back,</h3>
                    <div class="d-flex">
                        <i class="mdi mdi-home text-muted hover-cursor"></i>
                        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
                        <p class="text-primary mb-0 hover-cursor">DCXa</p>
                    </div>
                </div>
                <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
                   <button type="button" class="btn btn-warning btn-icon mr-2 mr-lg-3 mt-2 mt-xl-0">
                        <i class="mdi mdi-download "></i>
                    </button>
                    <button type="button" class="btn btn-danger  btn-icon mr-2 mr-lg-3 mt-2 mt-xl-0">
                        <i class="mdi mdi-clock"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-icon mr-2 mr-lg-3 mt-2 mt-xl-0">
                        <i class="mdi mdi-plus"></i>
                    </button>
                     
            <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
            
                    
        
                    <input type="submit" name="ctl00$ContentPlaceHolder1$bttnexport" value="Download Report" id="ctl00_ContentPlaceHolder1_bttnexport" class="btn btn-primary mt-2 mt-xl-0" />
                
        </div>
                   
                </div>
            </div>
        
            <div class="row">
        
                <div class="col-md-12 col-lg-12">
                    <div class="divshare d-flex">
                        <a class="linkurl" href="{% static 'Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_blan">http://www.app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173
                        </a>&nbsp;<a id="urlcopy" class="linkcopy" onclick="CopyURL('urlcopy');" data-val="https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173"><i class="fa fa-copy"></i></a>
        
                    </div>
                    <div style="float: left; margin-right: 5px;">
                        <!-- Sharingbutton Facebook -->
                        <a target="blank" class="resp-sharing-button_link" href="https://facebook.com/sharer/sharer.php?u=https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_blank" rel="noopener" aria-label="">
                            <img src="{% static 'UserPages/images/facebook.png'%}" style="width: 40px;" />
                        </a>
                    </div>
                    <div style="float: left; margin-right: 5px;">
                        <!-- Sharingbutton Twitter -->
                        <a target="blank" class="resp-sharing-button_link" href="https://twitter.com/intent/tweet/?text=&amp;url=https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_blank" rel="noopener" aria-label="">
                            <img src="{% static 'UserPages/images/twitter.png'%}" style="width: 40px;" />
                        </a>
                    </div>
                    <div style="float: left; margin-right: 5px;">
                        <!-- Sharingbutton E-Mail -->
                        <a target="blank" class="resp-sharing-button_link" href="mailto:?subject=&amp;body=https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_self" rel="noopener" aria-label="">
                            <img src="{% static 'UserPages/images/email.png'%}" style="width: 40px;" />
                        </a>
                    </div>
                    <div style="float: left; margin-right: 5px;">
                        <!-- Sharingbutton WhatsApp -->
                        <a target="blank" class="resp-sharing-button_link" href="whatsapp://send?text=%20https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_blank" rel="noopener" aria-label="">
                            <img src="{% static 'UserPages/images/whatsapp.png'%}" style="width: 40px;" />
                        </a>
                    </div>
                    <div style="float: left;">
                        <!-- Sharingbutton Telegram -->
                        <a target="blank" class="resp-sharing-button_link" href="https://telegram.me/share/url?text=&amp;url=https://app.dcxa.io/Userpages/UserRegOpen.Aspx?refid=DCXa-232173" target="_blank" rel="noopener" aria-label="">
                            <img src="{% static 'UserPages/images/telegram.png'%}" style="width: 40px;" />
                        </a>
        
                    </div>
                </div>
                <!-- Sharingbutton  -->
        
        
                <div class="col-xl-12 col-md-12 col-lg-12" style="margin-top: 10px;margin-bottom:10px;">
                   <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js'%}"></script><div id="coinmarketcap-widget-marquee" coins="1,1027,825,1958,5426" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
                </div>
        
        
            </div>
            <div class="row row-cards">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards my_protfolio h-100">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle">
                                    <i class="text-dark si si-user icons" style="margin-right:10px;"></i>
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h2 class="text-bold">$<span id="ctl00_ContentPlaceHolder1_lblprotfolio">0.00</span>
                                    </h1>
                                    <p class="mt-1 mb-0">My Portfolio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 d-block">
                    <div class="card widgets-cards dcxa_debit">
                        <div class="card-body">
                           
                    
                                <div class="wrp text-wrapper">
                        <div class="innercard">
                                    <h2 class="text-bold WalletAddr">
                                        <span style="font-size: 14px;">N/A</span>
                                        <a id="urlcopy1" onclick="CopyURL('urlcopy1');" data-val="N/A" style="margin-top: 5px; margin-left: 5px; cursor: pointer;"><i class="fa fa-copy" style="font-size: 20px;"></i></a>
                                    </h2>
        
        
                    <div class="row">
                                <div class="col-8 col-sm-8">
                                       <h2 class="userName text-uppercase mt-1 mb-0">Nishant Rajput <br> <span>DCXa-232173</span></h2>
                            <h3 class="userExpiry mt-3 mb-0">Expires<br><span>12/23</span></h3>
        
                                    </div>
                        <div class="col-4 col-sm-4">
                                    <img src="{% static 'assets/img/card-logo.png'%}" class="card-logo" alt="DCXa">
                            </div>
                           </div>
        
        
                                  </div>  
                                </div>
                       
                        </div>
                    </div>
                </div>
        
        
            </div>
            <div class="row row-cards">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards pills">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle bg-gray-t1">
                                    <i class="si si-check icons"></i>
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h5 class="text-bold">$<span id="ctl00_ContentPlaceHolder1_lblwallet5">0.00</span></h5>
                                    <p class="text-dark mt-1 mb-0">Activation Wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards pills">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle bg-gray-t1">
                                    <i class="si si-basket-loaded icons"></i>
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h5 class="text-bold">$<span id="ctl00_ContentPlaceHolder1_lblwallet1">0.00</span></h5>
                                    <p class="text-dark mt-1 mb-0">Withdrawable Wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards pills">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle bg-gray-t1">
                                    <i class="si si-wallet icons"></i>
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h5 class="text-bold">$<span id="ctl00_ContentPlaceHolder1_lblwallet2">0.00</span></h5>
                                    <p class="text-dark mt-1 mb-0">Working Wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards pills">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle bg-gray-t1">
                                    <i class="si si-eye icons"></i>
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h5 class="text-bold">$<span id="ctl00_ContentPlaceHolder1_lblwallet3">0.00</span></h5>
                                    <p class="text-dark mt-1 mb-0">Staking Wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card widgets-cards pills">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="col-5 p-0">
                                <div class="wrp icon-circle bg-gray-t1">
                                    <img src="{% static 'assets/img/brand/dcxa40.png'%}" width="40px" alt="logo" />
                                </div>
                            </div>
                            <div class="col-7 p-0">
                                <div class="wrp text-wrapper">
                                    <h5 class="text-bold">
                                        <span id="ctl00_ContentPlaceHolder1_lblwallet4">0.00</span>
                                    </h5>
                                    <p class="text-dark mt-1 mb-0">Token Wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6 col-lg-6 col-xl-4">
                    <div class="card pricing-card pills">
                        <div class="card-body text-center">
                            <div class="card-category">Cash</div>
                            <div class="display-5 my-4">No Limit</div>
                            <ul class="list-unstyled leading-loose">
                                <li><i class="fe fe-check text-success mr-2"></i>Instant Approval</li>
                                <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                <li><i class="fe fe-check text-success mr-2"></i>Easy Transactions</li>
                            </ul>
                            <div class="text-center mt-6">
                                <a href="UserCashRequest.aspx" class="btn btn-primary btn-block">Buy Wallet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-end -->
                <div class="col-sm-6 col-lg-6 col-xl-4">
                    <div class="card pricing-card">
                        <div class="card-body text-center">
                            <div class="card-category">UPI Payment</div>
                            <div class="display-5 my-4">No Limit</div>
                            <ul class="list-unstyled leading-loose">
                                <li><i class="fe fe-check text-success mr-2"></i>Auto Approval</li>
                                <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                <li><i class="fe fe-check text-success mr-2"></i>Easy Transactions</li>
                            </ul>
                            <div class="text-center mt-6">
                                <a href="#" class="btn btn-warning btn-block" onclick="alertify.alert('Under maintenance! We will be back shortly.')">Buy Wallet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-end -->
                <div class="col-sm-6 col-lg-6 col-xl-4">
                    <div class="card pricing-card ">
                        <div class="card-status bg-success"></div>
                        <div class="card-body text-center">
                            <div class="card-category">Crypto Payment</div>
                            <div class="display-5 my-4">No Limit</div>
                            <ul class="list-unstyled leading-loose">
                                <li><i class="fe fe-check text-success mr-2"></i>Auto Approval</li>
                                <li><i class="fe fe-check text-success mr-2"></i>Safe & Secure</li>
                                <li><i class="fe fe-check text-success mr-2"></i>100+ Coin Accepted</li>
                            </ul>
                            <div class="text-center mt-6">
                                <a href="RechargeBWallet.aspx" class="btn btn-success btn-block">Buy Wallet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="">
        
                                <p class="tx-12 tx-gray-500 mb-2">Stacking Wallet Statement  <a href="UserTopUpwalletstatement.aspx">See more</a></p>
                            </div>
                            <div class="table-responsive market-values">
        
                                <span id="ctl00_ContentPlaceHolder1_lblresult">No Data Found....</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>