{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">
                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">

                    <div id="ctl00_ContentPlaceHolder1_ctl01" style="display:none;">

                        <div class="global-loader light-loader">
                            <img src="{% static 'assets/img/loaders/loader.svg' %}" class="loader-img" alt="Loader">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="main-content-label mg-b-5">
                                        My Tree
                                    </div>
                                    <div class="row row-sm">
                                        <div class="col-xl-12">
                                            <div class="card mg-b-20">

                                                <div class="card-body">

                                                    <a href="#ctl00_ContentPlaceHolder1_treemember_SkipLink"><img
                                                            alt="Skip Navigation Links."
                                                            src="/WebResource.axd?d=ZKqNqzYNNarYxcZU8Qrn2Q-AjDdMdXgZ9RGQ2e06-0ktL_nZ9Z0uziMOtUWA1Dd4jOgemweNPQ3mzzh9BF7Nk2qQwlwuE0FB1t1onpFUZ3w1&amp;t=637454068754849868"
                                                            width="0" height="0" style="border-width:0px;" /></a>
                                                    <div id="ctl00_ContentPlaceHolder1_treemember"
                                                        PopulateOnDemand="true">
                                                    </div><a id="ctl00_ContentPlaceHolder1_treemember_SkipLink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>