{% load static %}
{% include 'includes/head_css_js.html' %}

<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid">
                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">


                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="main-content-label mg-b-5">
                                        Wallet Transfer
                                    </div>

                                    <div id="ctl00_ContentPlaceHolder1_div1" class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-6 mx-auto d-block">
                                            <div class="card card-body pd-10 pd-md-20 border shadow-none">
                                                <h5 class="card-title mg-b-20">Your Payment Details</h5>

                                                <div class="form-group">
                                                    <div class="row row-sm">
                                                        <div class="col-sm-12">
                                                            <div class="row row-sm">
                                                                <div class="col-sm-12">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Choose
                                                                        Wallet</label>

                                                                </div>

                                                            </div>
                                                            <div class="row row-sm">
                                                                <div class="col-12">
                                                                    <div class="multigrid">
                                                                        <div class="gridcol" style="width: 33%;">
                                                                            <label
                                                                                class="checkbox radiobox orange bold">
                                                                                Working Wallet
                                                                                <i>$0.00
                                                                                </i>
                                                                                <input value="rbtnWorkingWallet"
                                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                                    type="radio" id="rbtnWorkingWallet"
                                                                                    onclick="FunFillBalance();"
                                                                                    checked="checked" />
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="gridcol" style="width: 33%;">
                                                                            <label class="checkbox radiobox green bold">
                                                                                Activation Wallet
                                                                                <i>$0.00</i>
                                                                                <input value="rbtnActivationWallet"
                                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                                    type="radio"
                                                                                    id="rbtnActivationWallet"
                                                                                    onclick="FunFillBalance();" />
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="gridcol" style="width: 33%;">
                                                                            <label class="checkbox radiobox blue bold">
                                                                                Withdrawable Wallet
                                                                                <i>$0.00</i>
                                                                                <input value="rbtnWithdrawableWallet"
                                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                                    type="radio"
                                                                                    id="rbtnWithdrawableWallet"
                                                                                    onclick="FunFillBalance();" />
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row row-sm">
                                                        <div class="col-sm-12">
                                                            <div class="row row-sm">
                                                                <div class="col-sm-7">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Your
                                                                        ID</label>

                                                                    <input name="ctl00$ContentPlaceHolder1$TxtId"
                                                                        type="text" value="DCXa-343999"
                                                                        id="ctl00_ContentPlaceHolder1_TxtId"
                                                                        disabled="disabled" class="form-control" />

                                                                </div>
                                                                <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Your
                                                                        Name</label>
                                                                    <input name="ctl00$ContentPlaceHolder1$txtname"
                                                                        type="text" value="Shivangi Mishra"
                                                                        id="ctl00_ContentPlaceHolder1_txtname"
                                                                        disabled="disabled" class="form-control" />

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row row-sm">
                                                        <div class="col-sm-12">
                                                            <div class="row row-sm">
                                                                <div class="col-sm-7">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Wallet
                                                                        Balance</label>

                                                                    <input name="ctl00$ContentPlaceHolder1$txtwamount"
                                                                        type="text" value="0.00" id="txtwamount"
                                                                        disabled="disabled" class="form-control" />
                                                                </div>
                                                                <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Transfer
                                                                        Amount</label>
                                                                    <input
                                                                        name="ctl00$ContentPlaceHolder1$Txt_transferAmount"
                                                                        type="text" value="0"
                                                                        id="ctl00_ContentPlaceHolder1_Txt_transferAmount"
                                                                        class="form-control" />

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row row-sm">
                                                        <div class="col-sm-12">
                                                            <div class="row row-sm">
                                                                <div class="col-sm-7">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Dcxa
                                                                        ID (Beneficiery)</label>

                                                                    <div class="divMemberID">
                                                                        <input name="ctl00$ContentPlaceHolder1$txttid"
                                                                            type="text"
                                                                            onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentPlaceHolder1$txttid\&#39;,\&#39;\&#39;)&#39;, 0)"
                                                                            onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;"
                                                                            id="ctl00_ContentPlaceHolder1_txttid"
                                                                            class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                                                    <label
                                                                        class="main-content-label tx-11 tx-medium tx-gray-600">Dcxa
                                                                        Name</label>
                                                                    <input name="ctl00$ContentPlaceHolder1$txttname"
                                                                        type="text"
                                                                        id="ctl00_ContentPlaceHolder1_txttname"
                                                                        disabled="disabled" class="form-control" />

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="button" class="btn btn-main-primary btn-block"
                                                    value="Complete Transaction" onclick="validation();" />

                                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnsave1"
                                                    value="Complete Transaction" id="ctl00_ContentPlaceHolder1_btnsave1"
                                                    type="submit" class="btn btn-main-primary btn-block"
                                                    style="display: none;" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% include 'includes/dashboard_footer.html' %}
    </div>
    {% include 'includes/dashboard_js.html' %}
</body>