{% load static %}
{% include 'includes/head_css_js.html' %}
<body class="main-body app sidebar-mini Light-mode">
    <div class="page">

        {% include 'includes/loader.html' %}
        <div class="main-content app-content">
            {% include 'includes/dashboard_header.html' %}
            {% include 'includes/sidebar.html' %}
            <div class="container-fluid"></div>
    <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="main-content-label mg-b-5">
                        Wallet Statement
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="row row-sm">
                                <div class="col-sm-12">
                                    <div class="row row-sm">
                                        <div class="col-sm-12">
                                            <label
                                                class="main-content-label tx-11 tx-medium tx-gray-600">Choose
                                                Wallet</label>

                                        </div>

                                    </div>
                                    <div class="row row-sm">
                                        <div class="col-12">
                                            <div class="multigrid">
                                                <div class="row">
                                                    <div class="col-6 col-sm-3">

                                                        <div class="gridcol normal">
                                                            <label class="checkbox radiobox red bold">
                                                                Staking
                                                                <i>$0.00
                                                                </i>
                                                                <input value="rbtnStakingWallet"
                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                    type="radio" id="rbtnStakingWallet"
                                                                    onclick="FunFillBalance();"
                                                                    checked="checked" />
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-3">

                                                        <div class="gridcol normal">
                                                            <label
                                                                class="checkbox radiobox orange bold">
                                                                Working
                                                                <i>$0.00
                                                                </i>
                                                                <input value="rbtnWorkingWallet"
                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                    type="radio" id="rbtnWorkingWallet"
                                                                    onclick="FunFillBalance();" />
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-3">


                                                        <div class="gridcol normal">
                                                            <label class="checkbox radiobox green bold">
                                                                Activation
                                                                <i>$0.00</i>
                                                                <input value="rbtnActivationWallet"
                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                    type="radio"
                                                                    id="rbtnActivationWallet"
                                                                    onclick="FunFillBalance();" />
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-3">

                                                        <div class="gridcol normal">
                                                            <label class="checkbox radiobox blue bold">
                                                                Withdrawable
                                                                <i>$0.00</i>
                                                                <input value="rbtnWithdrawableWallet"
                                                                    name="ctl00$ContentPlaceHolder1$radioWallet"
                                                                    type="radio"
                                                                    id="rbtnWithdrawableWallet"
                                                                    onclick="FunFillBalance();" />
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <div class="col-sm-12">
                            <div class="row row-sm">
                                <div class="col-4 col-sm-3">
                                    <label class="main-content-label tx-11 tx-medium tx-gray-600">From
                                        Date:</label>
                                    <input name="ctl00$ContentPlaceHolder1$txtFromDate" type="text"
                                        id="ctl00_ContentPlaceHolder1_txtFromDate" class="form-control"
                                        placeholder="dd/mm/yyyy" />

                                </div>
                                <div class="col-4  col-sm-3">
                                    <label class="main-content-label tx-11 tx-medium tx-gray-600">To
                                        Date:</label>
                                    <input name="ctl00$ContentPlaceHolder1$txtToDate" type="text"
                                        id="ctl00_ContentPlaceHolder1_txtToDate" class="form-control"
                                        placeholder="dd/mm/yyyy" />

                                </div>
                                <div class="col-4  col-sm-2">
                                    <label
                                        class="main-content-label tx-11 tx-medium tx-gray-600">&nbsp;</label>
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnSearch"
                                        value="Search" id="ctl00_ContentPlaceHolder1_btnSearch"
                                        type="submit" class="btn btn-main-primary btn-block" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-xl-12">
                            <div class="card mg-b-20">
                                <div class="card-header pb-0">
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <span id="ctl00_ContentPlaceHolder1_lblresult">No Data
                                            Found....</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
</div>
{% include 'includes/dashboard_footer.html' %}
</div>
{% include 'includes/dashboard_js.html' %}
</body>