{%load static %}

    <div class="main-header sticky side-header nav nav-item">
        <div class="container-fluid">
            <div class="main-header-left ">
                <div class="app-sidebar__toggle mobile-toggle" data-toggle="sidebar">
                    <a class="open-toggle" href="#"><i class="header-icons" data-eva="menu-outline"></i></a>
                    <a class="close-toggle" href="#"><i class="header-icons" data-eva="close-outline"></i></a>
                </div>
                <div class="responsive-logo">
                    <a href="user.aspx">
                        <img src="{% static 'assets/img/brand/logo.png' %}" class="mobile-logo" alt="logo">
                        <img src="{% static 'assets/img/brand/logo-theme-dark.png' %}" class="dark-mobile-logo"
                            alt="logo">
                    </a>
                </div>
            </div>
            <div class="main-header-center">
                <div class="main-header-center ml-3 d-sm-none d-md-none d-lg-block" style="font-size: 10px;">
                    DCXa Rate $0.50
                    <i class="mdi mdi-upload " style="color: green; font-size: 1.0em;"></i><span
                        style="color: green;">100% </span>

                </div>

            </div>
            <div class="main-header-right" style="display: none;">
                <div class="nav nav-item  navbar-nav-right ml-auto">
                    <form class="navbar-form nav-item my-auto d-lg-none" role="search">
                        <div class="input-group nav-item my-auto">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="reset" class="btn btn-default">
                                    <i class="ti-close"></i>
                                </button>
                                <button type="submit" class="btn btn-default nav-link">
                                    <i class="ti-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="nav-item full-screen fullscreen-button">
                        <a class="new nav-link full-screen-link" href="#"><i class="ti-fullscreen"></i></span></a>
                    </div>
                    <div class="dropdown  nav-item main-header-message ">
                        <a class="new nav-link" href="#"><i class="ti-email"></i><span class="pulse-danger"></span></a>
                        <div class="dropdown-menu dropdown-menu-arrow animated fadeInUp ">
                            <div class="main-dropdown-header  d-sm-none">
                                <a class="main-header-arrow" href="#"><i class="icon ion-md-arrow-back"></i></a>
                            </div>


                        </div>
                    </div>
                    <button class="navbar-toggler navresponsive-toggler d-sm-none" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fe fe-more-vertical "></span>
                    </button>
                    <div class="dropdown main-header-message right-toggle">
                        <a class="nav-link " data-toggle="sidebar-right" data-target=".sidebar-right">
                            <i class="ti-menu tx-20 bg-transparent"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="responsive main-header collapse" id="navbarSupportedContent-4">
        <div
            class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark d-sm-none ">
            <div class="navbar-collapse">
                <div class="d-flex order-lg-2 ml-auto">
                    <form class="navbar-form nav-item my-auto d-lg-none" role="search">
                        <div class="input-group nav-item my-auto">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="reset" class="btn btn-default">
                                    <i class="ti-close"></i>
                                </button>
                                <button type="submit" class="btn btn-default nav-link">
                                    <i class="ti-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="d-md-flex">
                        <div class="nav-item full-screen fullscreen-button">
                            <a class="new nav-link full-screen-link" href="#"><i class="ti-fullscreen"></i></span></a>
                        </div>
                    </div>
                    <div class="dropdown main-header-message right-toggle">
                        <a class="nav-link " data-toggle="sidebar-right" data-target=".sidebar-right">
                            <i class="ti-menu tx-20 bg-transparent"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>