
<script src="{% static 'assets/plugins/ionicons/ionicons.js' %}"></script>
<script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js' %}"></script>
<script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>
<script src="{% static 'assets/plugins/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/js/eva-icons.min.js' %}"></script>
<script src="{% static 'assets/plugins/side-menu/sidemenu.js' %}"></script>
<script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>
<script src="{% static 'assets/plugins/sidebar/sidebar-custom.js' %}"></script>
<script src="{% static 'assets/js/sticky.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-ui/ui/widgets/datepicker.js' %}"></script>
<script src="{% static 'assets/plugins/chart.js' %}/Chart.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'assets/js/dashboard.sampledata.js' %}"></script>

<script src="{% static 'assets/plugins/newsticker/jquery.jConveyorTicker.js' %}"></script>
<script src="{% static 'assets/js/newsticker.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-nice-select/js/nice-select.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/switcher/js/switcher.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/responsive.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/table-data.js' %}?version=21112021"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>





<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/plugins/fileuploads/js/fileupload.js' %}"></script>
<script src="{% static 'assets/plugins/fileuploads/js/file-upload.js' %}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js' %}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
<script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js' %}"></script>
<script src="{% static 'assets/js/advanced-form-elements.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>
<script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js' %}"></script>
<script src="{% static 'assets/plugins/telephoneinput/telephoneinput.js' %}"></script>
<script src="{% static 'assets/plugins/telephoneinput/inttelephoneinput.js' %}"></script>