
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid px-3">
        <div class="navbar-collapse me-md-0 me-4" id="navbar">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
            <li class="nav-item d-xl-none d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <img class="fa fa-cog fixed-plugin-button-nav cursor-pointer" src="https://img.icons8.com/ios-filled/50/000000/menu--v3.png" width="36px" />
                </div>
              </a>
            </li>
          </ul>
          <div class="ms-md-auto ps-md-3 d-flex align-items-center">
        </div>
        <div class="bg-gray-100 border-radius-lg d-flex">
            <input id='txt_reg' type="text" class="form-control border-0 ps-3" placeholder="Enter Wallet Address">
            <a class="btn bg-gradient-dark my-1 me-1" target="_blank" href="" onclick="this.href='https://solscan.io/account/'+document.getElementById('txt_reg').value+'/'">Search</a>
          </div>
        </div>
    </div>
  </nav>