{% load static %}
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>



<aside class="app-sidebar sidebar-scroll ">
    <div class="main-sidebar-header">
        <a class=" desktop-logo logo-light" href="/dashboard">
            <img src="{% static 'assets/img/brand/logo.png' %}" class="main-logo" alt="logo"></a>
        <a class=" desktop-logo logo-dark" href="/dashboard">
            <img src="{% static 'assets/img/brand/logo-white.png' %}" class="main-logo dark-theme"
                alt="logo"></a>
        <a class="logo-icon mobile-logo icon-light" href="/dashboard">
            <img src="{% static 'assets/img/brand/favicon.png' %}" class="logo-icon" alt="logo"></a>
        <a class="logo-icon mobile-logo icon-dark" href="/dashboard">
            <img src="{% static 'assets/img/brand/favicon-white.png' %}" class="logo-icon dark-theme"
                alt="logo"></a>
    </div>
    <div class="main-sidebar-body circle-animation ">

        <ul class="side-menu circle">
            <li>
                <h3 class="">Dashboard</h3>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="/dashboard"><i class="side-menu__icon ti-desktop"></i><span
                        class="side-menu__label">Dashboard</span></a>
            </li>




            <li>
                <h3>Statistics</h3>
            </li>


            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">My
                        Profile</span><i class="angle fe fe-chevron-down"></i></a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="update_profile/">Update Profile</a></li>
                    <li><a class="slide-item" href="kyc/">KYC</a></li>
                    <li><a class="slide-item" href="#">Bank Information</a></li>
                    <li><a class="slide-item" href="change_password/">Change Password</a></li>
                </ul>
            </li>

            <li class="slide">
                <a class="side-menu__item" href="add_new_person/"
                    target="_blank"><i class="side-menu__icon ti-face-smile"></i><span
                        class="side-menu__label">Add New Person</span></a>
            </li>

            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="side-menu__icon ti-briefcase"></i><span class="side-menu__label">Level
                        Associates</span><i class="angle fe fe-chevron-down"></i></a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="directteam/">Direct Team</a></li>
                    <li><a class="slide-item" href="levelview/">Level Team View</a></li>
                    <li><a class="slide-item" href="roiview/">ROI Team View</a></li>
                    <li><a class="slide-item" href="allteammember/">All Team Members</a></li>
                    <li><a class="slide-item" href="treeview/">My Tree View</a></li>
                </ul>
            </li>

            <li>
                <h3>Wallets</h3>
            </li>

            <li class="slide">
                <a class="side-menu__item" href="buy_wallet/"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Buy
                        Wallet</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="buy_tokens/"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Buy
                        Tokens</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="wallet_transfer"><i
                        class="side-menu__icon ti-wallet"></i><span class="side-menu__label">Wallet
                        Transfer</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="wallet_statement"><i
                        class="side-menu__icon ti-wallet"></i><span class="side-menu__label">Wallet
                        Statement</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#"><i
                        class="side-menu__icon ti-wallet"></i><span class="side-menu__label">Withdrawal
                        Request</span></a>
            </li>


            <li class="slide">
                <a class="side-menu__item" href="buyproperty"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Buy
                        Property</span></a>
            </li>

            <li class="slide">
                <a class="side-menu__item" href="buysip/"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Buy
                        SIP</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="forex"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Forex
                        Investment</span></a>
            </li>

            <li>
                <h3>Reports</h3>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                        class="side-menu__icon ti-pencil-alt"></i><span class="side-menu__label">Income
                        Reports</span><span class="badge badge-info side-badge">6</span><i
                        class="angle fe fe-chevron-down"></i></a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="income_details/">Income Details</a></li>
                    <li><a class="slide-item" href="investment_details/">Investment Details</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="side-menu__icon ti-briefcase"></i><span class="side-menu__label">Support</span><i
                        class="angle fe fe-chevron-down"></i></a>
                <ul class="slide-menu">
                    <li><a class="slide-item" target="_blank"
                            href="ticket">Complain
                            Ticket</a></li>
                    <li><a class="slide-item" href="ticket_status">Complain Ticket Status</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="/"><i
                        class="side-menu__icon ti-face-smile"></i><span class="side-menu__label">Sign
                        Out</span></a>
            </li>





        </ul>
    </div>
</aside>



<!-- fgfg -->